.row
  .col-12
    .border-bottom
      .h6.float-left
        = block.name
      %small.float-right
        = link_to t('actions.edit'), edit_page_block_path(@page, block)
        \|
        = link_to t('actions.destroy'), [@page, block], method: :delete, data: { confirm: 'Are you sure?' }

      .clearfix
  .col-12
    = block.content