%h1 Listing pages

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td
          = link_to page.name, page
%br

= link_to 'New Page', new_page_path
